#auth-box {

  .overlay, .box {
    display: block;
    position: fixed;
    overflow: hidden;
    background: white;
    top: 0;
  }

  .overlay {
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
  }

  .box {
    z-index: 1000;
    width: 300px;
    height: 100%;
    right: 0;
    opacity: 0.9;
    background: black;

    .close-btn {
      @include zerobtn();
      display: inline-block;
      background: $red;
      color: white;
      font-weight: 200;
      font-size: 20px;
      border: none;
      padding: 6px 20px;
      border-radius: 0px;
    }

    h1 {
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      margin: 10% auto 30px;
    }

    img.user {
      display: block;
      height: 85px;
      margin: 0 auto 30px;
    }

    #status-div {
      display: block;
      width: 85%;
      margin: 0 auto 20px;
      color: white;
      background:#A8A8A8;
      padding: 8px 10px;
      border-radius: 2px;
      font-weight: 300;
      border: 1px solid transparent;

      &.error {
        color: $red;
        border-color: $red;
      }
    }

    .field-group {
      width: 85%;
      margin: 0 auto 20px;

      label {
        display: block;
        margin-bottom: 8px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
      }

      input {
        display: block;
        width: 100%;
        background: transparent;
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        padding: 8px 8px;
        outline: none;
        color: #F7F7F7;
        font-weight: 100;
      }
    }

    .login-btn {
      @include zerobtn();
      display: block;
      width: 85%;
      margin: 0 auto;
      background: $red;
      color: white;
      font-weight: 200;
      font-size: 18px;
      border: none;
      padding: 8px 0;
      border-radius: 2px;
    }

    p {
      display: block;
      width: 85%;
      margin: 30px auto 0;
      font-size: 20px;
      font-weight: 100;
      color: white;
      line-height: 180%;
    }
  }
}