html, body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
}


/* Remove after */
#react-view {
  text-align: center;
  font-size: 70px;
  margin-top: 10%;
}
